# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

**/bin/
**/obj/

\.vs/BugTracker/v15/\.suo

\.vs/BugTracker/v15/Server/sqlite3/db\.lock

\.vs/BugTracker/v15/Server/sqlite3/storage\.ide

\.vs/BugTracker/v15/Server/sqlite3/storage\.ide-shm

\.vs/BugTracker/v15/Server/sqlite3/storage\.ide-wal

\.vs/config/applicationhost\.config

BugTracker/obj/Debug/

BugTracker/obj/Debug/AssemblyReference\.cache

BugTracker/obj/Debug/BugTracker\.csproj\.CopyComplete

BugTracker/obj/Debug/BugTracker\.csproj\.CoreCompileInputs\.cache

BugTracker/obj/Debug/BugTracker\.csproj\.FileListAbsolute\.txt

BugTracker/obj/Debug/BugTracker\.csproj\.GenerateResource\.cache

BugTracker/obj/Debug/BugTracker\.csprojAssemblyReference\.cache

BugTracker/obj/Debug/BugTracker\.dll

BugTracker/obj/Debug/BugTracker\.Migrations\.InitialCreate\.resources

BugTracker/obj/Debug/BugTracker\.pdb

BugTracker/obj/Debug/DesignTimeResolveAssemblyReferences\.cache

BugTracker/obj/Debug/DesignTimeResolveAssemblyReferencesInput\.cache

BugTracker/obj/Release/

BugTracker/obj/Release/_WPPLastBuildInfo\.txt

BugTracker/obj/Release/BugTracker\.csproj\.CopyComplete

BugTracker/obj/Release/BugTracker\.csproj\.CoreCompileInputs\.cache

BugTracker/obj/Release/BugTracker\.csproj\.FileListAbsolute\.txt

BugTracker/obj/Release/BugTracker\.csproj\.GenerateResource\.cache

BugTracker/obj/Release/BugTracker\.csprojAssemblyReference\.cache

BugTracker/obj/Release/BugTracker\.dll

BugTracker/obj/Release/BugTracker\.Migrations\.InitialCreate\.resources

BugTracker/obj/Release/BugTracker\.pdb

BugTracker/obj/Release/CSAutoParameterize\.parameters\.xml

BugTracker/obj/Release/CSAutoParameterize/original/Web\.config

BugTracker/obj/Release/CSAutoParameterize/transformed/Web\.config

BugTracker/obj/Release/DesignTimeResolveAssemblyReferences\.cache

BugTracker/obj/Release/DesignTimeResolveAssemblyReferencesInput\.cache

BugTracker/obj/Release/InsertAdditionalCS/original/Web\.config

BugTracker/obj/Release/InsertAdditionalCS/transformed/Web\.config

BugTracker/obj/Release/InsertEFCodeFirstDeploy/original/Web\.config

BugTracker/obj/Release/InsertEFCodeFirstDeploy/transformed/Web\.config

BugTracker/obj/Release/Package/BugTracker\.SourceManifest\.xml

BugTracker/obj/Release/Package/FilePreviewParameter\.xml

BugTracker/obj/Release/Package/PackageTmp/bin/Antlr3\.Runtime\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/BugTracker\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/BugTracker\.pdb

BugTracker/obj/Release/Package/PackageTmp/bin/EntityFramework\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/EntityFramework\.SqlServer\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/HtmlAgilityPack\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.AspNet\.Identity\.Core\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.AspNet\.Identity\.EntityFramework\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.AspNet\.Identity\.Owin\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.AspNet\.SignalR\.Core\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.AspNet\.SignalR\.SystemWeb\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.Owin\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.Owin\.Host\.SystemWeb\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.Owin\.Security\.Cookies\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.Owin\.Security\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.Owin\.Security\.Facebook\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.Owin\.Security\.Google\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.Owin\.Security\.MicrosoftAccount\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.Owin\.Security\.OAuth\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.Owin\.Security\.Twitter\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Microsoft\.Web\.Infrastructure\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Mvc\.JQuery\.Datatables\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/MvcCheckBoxList\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Newtonsoft\.Json\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Owin\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/PagedList\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/PagedList\.Mvc\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/RazorGenerator\.Mvc\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/SendGrid\.SmtpApi\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/System\.Web\.Helpers\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/System\.Web\.Mvc\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/System\.Web\.Optimization\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/System\.Web\.Razor\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/System\.Web\.WebPages\.Deployment\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/System\.Web\.WebPages\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/System\.Web\.WebPages\.Razor\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/Unbound\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/WebActivator\.dll

BugTracker/obj/Release/Package/PackageTmp/bin/WebGrease\.dll

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/css/demo_page\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/css/demo_table_jui\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/css/demo_table\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/callbacks\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/columns\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/inputs\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/css/AutoFill\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/docs/css/default\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/docs/files\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/docs/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/docs/symbols/_global_\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/docs/symbols/AutoFill\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/docs/symbols/AutoFill#dom\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/docs/symbols/AutoFill#s\.border\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/docs/symbols/AutoFill#s\.columns\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/docs/symbols/AutoFill#s\.drag\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/docs/symbols/AutoFill#s\.filler\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/docs/symbols/AutoFill#s\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/docs/symbols/AutoFill#s\.screen\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/docs/symbols/AutoFill#s\.scroller\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/docs/symbols/src/js_AutoFill\.js\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/images/filler\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/js/AutoFill\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/media/js/AutoFill\.min\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/AutoFill/scrolling\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/alt_insert\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/col_filter\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/colvis\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/fixedcolumns\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/fixedheader\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/media/css/ColReorder\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/media/docs/css/default\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/media/docs/files\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/media/docs/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/media/docs/symbols/_global_\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/media/docs/symbols/ColReorder\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/media/docs/symbols/ColReorder#dom\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/media/docs/symbols/ColReorder#s\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/media/docs/symbols/ColReorder#s\.mouse\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/media/docs/symbols/src/js_ColReorder\.js\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/media/images/insert\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/media/js/ColReorder\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/media/js/ColReorder\.min\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/predefined\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/reset\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/scrolling\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/server_side\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/state_save\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColReorder/theme\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/exclude_columns\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/css/ColVis\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/css/ColVisAlt\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs_private/css/default\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs_private/files\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs_private/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs_private/symbols/_global_\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs_private/symbols/ColVis\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs_private/symbols/ColVis#dom\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs_private/symbols/ColVis#s\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs_private/symbols/src/js_ColVis\.js\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs/css/default\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs/files\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs/symbols/_global_\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs/symbols/ColVis\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs/symbols/ColVis#dom\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs/symbols/ColVis#s\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/docs/symbols/src/js_ColVis\.js\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/images/button\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/js/ColVis\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/media/js/ColVis\.min\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/mouseover\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/style\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/text\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/theme\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/title_callback\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/two_tables_identical\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/ColVis/two_tables\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/col_filter\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/css_size\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/FixedColumns_dom\.clone\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/FixedColumns_dom\.clone\.left\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/FixedColumns_dom\.clone\.right\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/FixedColumns_dom\.grid\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/FixedColumns_dom\.grid\.left\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/FixedColumns_dom\.grid\.right\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/FixedColumns_dom\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/FixedColumns_s\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/FixedColumns\.defaults\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/FixedColumns\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/media/css/doc\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/media/css/shCore\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/media/css/shThemeDataTables\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/media/images/arrow\.jpg

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/media/images/extended\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/media/js/doc\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/media/js/jquery\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/media/js/shBrushJScript\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/docs/media/js/shCore\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/index_column\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/left_right_columns\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/media/js/FixedColumns\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/media/js/FixedColumns\.min\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/right_column\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/row_grouping_height\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/row_grouping\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/rowspan\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/scale_fixed\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/scale_relative\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/server-side-processing\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/themed\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/two_columns\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedColumns/x_y_scrolling\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedHeader/html_table\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedHeader/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedHeader/js/FixedHeader\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedHeader/js/FixedHeader\.min\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedHeader/top_bottom_left_right\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedHeader/top_left\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedHeader/two_tables\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/FixedHeader/zIndexes\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/KeyTable/datatable_scrolling\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/KeyTable/datatable\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/KeyTable/editing\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/KeyTable/form\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/KeyTable/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/KeyTable/js/KeyTable\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/KeyTable/js/KeyTable\.min\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/api_scrolling\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/large_js_source\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/data/2500\.txt

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/_anonymous__Scroller_dom\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/_anonymous__Scroller_s\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/_anonymous__Scroller\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/_anonymous__Scroller\.oDefaults\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/global\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/media/css/doc\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/media/css/shCore\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/media/css/shThemeDataTables\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/media/images/arrow\.jpg

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/media/images/extended\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/media/js/doc\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/media/js/jquery\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/media/js/shBrushJScript\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/docs/media/js/shCore\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/js/Scroller\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/media/js/Scroller\.min\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/server-side_processing\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/Scroller/state_saving\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/alt_init\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/alter_buttons\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/button_text\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/collection\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/defaults\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/css/TableTools_JUI\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/css/TableTools\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/docs/css/default\.css

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/docs/files\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/docs/index\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/docs/symbols/_global_\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/docs/symbols/src/js_TableTools\.js\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/docs/symbols/TableTools\.BUTTONS\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/docs/symbols/TableTools\.DEFAULTS\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/docs/symbols/TableTools\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/docs/symbols/TableTools#dom\.collection\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/docs/symbols/TableTools#dom\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/docs/symbols/TableTools#dom\.print\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/docs/symbols/TableTools#s\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/docs/symbols/TableTools#s\.print\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/docs/symbols/TableTools#s\.select\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/images/background\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/images/collection_hover\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/images/collection\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/images/copy_hover\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/images/copy\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/images/csv_hover\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/images/csv\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/images/pdf_hover\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/images/pdf\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/images/print_hover\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/images/print\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/images/xls_hover\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/images/xls\.png

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/js/TableTools\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/js/TableTools\.min\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/js/ZeroClipboard\.js

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/swf/copy_cvs_xls_pdf\.swf

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/media/swf/copy_cvs_xls\.swf

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/multi_instance\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/multiple_tables\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/pdf_message\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/plug-in\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/select_multi\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/select_single\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/swf_path\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/tabs\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/extras/TableTools/theme\.html

BugTracker/obj/Release/Package/PackageTmp/Content/DataTables/images/favicon\.ico

BugTracker/obj/Release/Package/PackageTmp/packages\.config

BugTracker/obj/Release/Package/PackageTmp/Unbound\.dll

BugTracker/obj/Release/Package/PackageTmp/Views/Shared/DataTable\.cshtml

BugTracker/obj/Release/Package/PackageTmp/Views/Shared/Error\.cshtml

BugTracker/obj/Release/Package/PackageTmp/Web\.config

BugTracker/obj/Release/TransformWebConfig/original/Web\.config

BugTracker/obj/Release/TransformWebConfig/transformed/Web\.config
