@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@using (Html.BeginForm("Index", "Tickets", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{

@Html.AntiForgeryToken()
<div class='wrapper' style="margin-top:15%; width:35%">
    <div class='row'>
        <div class='col-lg-12'>
            <div class='brand text-center'>
                <div class='logo-icon'>
                    <h1>
                        <i class='icon-bug'></i>
                        Crusher
                    </h1>
                </div>
            </div>
        </div>
        <h3 style="text-align:center">@ViewBag.Title</h3>
        <h5 style="text-align:center">Please check your email to reset your password.</h5>
    </div>


    <div class="row">

        @*<div class='panel-heading'>
                <i class='icon-edit icon-large'></i>
                Password Recovery Form
            </div>*@
        <form>
            <fieldset class='text-center' style="text-align:center">
                
                <div class="form-group col-md-12" style="text-align:right">
                    <input type="submit" class="btn btn-default" value="Click To Login" />
                </div>
            </fieldset>
        </form>
    </div>
</div>
}
	
